:root {
    --dark-bg-color: #1F2937; 
    --hero-main-text-color: #F9FAF8;
    --hero-secondary-text-color: #E5E7EB;
    --logo-text-color: #F9FAF8;
    --cta-button-bg-color: #3882F6;
    --blue-color: #3882F6;
    --information-header-color: #1F2937; 
    --quote-section-bg-color: #E5E7EB;
    --quote-text-color: #1F2937;
    --dark-text-color: #1F2937;
    --light-text-color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.hero-main {
    color: var(--hero-main-text-color);
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
}

.hero-secondary {
    color: var(--hero-secondary-text-color);
    margin-top: 0;
}

.cta-button {
    background-color: var(--cta-button-bg-color);
    color: white;
    border-style: solid;
    border-color: var(--cta-button-bg-color);
    padding: 0.2rem 1.4rem;
    border-radius: 5px;
    cursor: pointer;
}

.info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
}

.info-header {
    color: var(--information-header-color);
    padding: 1rem 0;
    font-weight: 900;
}

.info-div-boxes {
    display: flex;
    gap: 3rem;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    text-align: center;
}

.info-box-media {
    margin: 0 1rem;
    border-style: solid;
    border-color: var(--blue-color);
    border-width: 3px;
    border-radius: 1rem;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.quote-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--quote-section-bg-color);
    color: var(--quote-text-color);
    padding: 6rem 0;
}

.quote-div div {
    width: 60vw;
}

.quote-div-author {
    text-align: right;
}

.quote-div-quote q {
    font-size: 1.6rem;
    quotes: none;
    font-style: italic;
    width: 160ch;
}

.quote-div-author p {
    color: var(--dark-text-color);
    font-size: 0.9rem;
    font-weight: 900;
    padding-right: 1rem;
    margin: 0;
}

.cta-div {
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    background-color: var(--cta-button-bg-color);
    color: white;
    padding: 2rem 5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 6rem;
}

.cta-container p {
    margin: 0;
}

.cta-container h3 {
    margin: 0;
    font-size: 1.1rem;
}

.cta-container p {
    font-size: 0.8rem;
    color: var(--hero-secondary-text-color);
}

.cta-container button {
    border-color: white;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    gap: 2rem;
    list-style: none;
}

.nav-menu-link {
    color: var(--light-text-color);
    text-decoration: none;
}

.header-content {
    display: flex;
    gap: 4rem;
    padding: 4rem 0 6rem 0;
}

.header-content div {
    flex: 1 1 50%;
}

.header-content-media {
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--hero-secondary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
}

header, footer {
    background-color: var(--dark-bg-color);
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0 10vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}