:root {
    --dark-bg-color: #1F2937; 
    --hero-main-text-color: #F9FAF8;
    --hero-secondary-text-color: #E5E7EB;
    --logo-text-color: #F9FAF8;
    --cta-button-bg-color: #3882F6;
    --information-header-color: #1F2937; 
    --quote-section-bg-color: #E5E7EB;
    --quote-text-color: #1F2937;
    --dark-text-color: #1F2937;
    --light-text-color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.hero-main {
    color: var(--hero-main-text-color);
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
}

.hero-secondary {
    color: var(--hero-secondary-text-color);
    margin-top: 0;
}

.cta-button {
    background-color: var(--cta-button-bg-color);
    color: white;
    border-style: solid;
    border-color: var(--cta-button-bg-color);
    padding: 0.2rem 1.4rem;
    border-radius: 5px;
}

.info-header {

}

.quote {

}

.nav-menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    gap: 2rem;
    list-style: none;
}

.nav-menu-link {
    color: var(--light-text-color);
    text-decoration: none;
}

.header-content {
    display: flex;
    gap: 4rem;
    padding: 4rem 0 6rem 0;
}

.header-content div {
    flex: 1 1 50%;
}

.header-content-media {
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--hero-secondary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
}

header, footer {
    background-color: var(--dark-bg-color);
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0 10vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}